<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="topnav">
         <a href="/"><img id="logo" src="/img/logo.png" style="weight:70px;height:70px"></a>
        <a id="home"href="/">Home</a>
        <a id="prod"href="/mealspackage">Meals Package</a>
        <a id="reg"href="/customer">Register Account</a>
        <a id="login"href="/login">Login</a>
    </div>
    </header>
    <main>
        {{{body}}}
    </main>
 <footer id="footer">
    <table style="margin-left: auto;margin-right:auto;"> 
        
        <tr>
            <th>Contact us</th>
            <th>Service</th>
            <th>About us</th>
        </tr>
        <tr>
            <td id="contact">livefitfood@gmail.com</td>
            <td id="contact">Live Fit Food Promotion</td>
            <td id="contact">Careers</td>
        </tr>
        <tr>
            <td>Phone: 999-999-9999</td>
            <td>Live Fit Activities</td>
            <td>Our Mission</td>
        </tr>
    </table>
    <div id = "links">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
        </div>
      <div id="copyright"> 
            <p>Copyright © 2020 Designed and Coded By Joochan Kim </p>
            </div>
</footer>    
</body>
</html>