<br>
<section>
    <img class="banner" src = "/img/banner.jpg">
</section>
<div class="dash">
    <h3>Administration<br>
    {{name}}</h3><br>
    <h3></h3>
    <a class="logout" href="/logout">Logout</a>
</div>  
</section>