<br>
<section>
    <img class="banner" src = "/img/banner.jpg">
</section>
<section>
    <div id="logform">
<form method="POST" action ="/login">
    <h2>Login</h2>
    <label for="email">Email</label>    
    <input type="text" value="{{email}}" id="email" name="email"> <br><br>
    <p class="error">{{error1}}</p>
    <br>

    <label for="password">Password</label>    
    <input type="password" value="{{password}}" id="password" name="password"> <br> <br>
   <p class="error">{{error2}}</p>
    <br>
    <input id = "button" type="submit" value="Login"><br>
</form>
</div>
</section>