.admin_wrapper {
    margin: 15px;
  }
  .admin_wrapper > h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .addItem {
    float: right;
    text-align: center;
  }
  .addItem button {
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(243, 195, 63, 0.39);
  }
  .manage_list_wrapper {
    /* background-color: green; */
    overflow: hidden;
  }
  .manage_list {
    padding: 10px;
    height: 130px;
    border: 1px solid black;
    margin-bottom: 15px;
  }
  .manage_list {
    display: flex;
  }
  .list_name {
    font-size: 1.2em;
    font-weight: 500;
  }
  .list_img {
    width: 130px;
    height: 130px;
    margin-right: 10px;
  }
  .list_content_L {
    width: 80%;
    overflow: hidden;
  }
  .list_discription {
    /* overflow: hidden; */
    height: 100%;
  }
  
  .list_content_R {
    width: 130px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
  }
  .update {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(243, 195, 63, 0.39);
  }
  .delete {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(245, 64, 9, 0.851);
  }
  .add_product_wrapper {
    margin: 15px;
    padding-bottom: 100px;
  }
  .add_product_wrapper > h1 {
    font-size: 2em;
    padding-top: 80px,
  }
  .adding_form {
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .adding_form label {
    display: inline-block;
    font-size: 1.3em;
    width: 150px;
    text-align: center;
    line-height: 1.3em;
  }
  
  .adding_form input {
    line-height: 1.3em;
    height: 20px;
    width: 300px;
    border: 1.3px solid black;
    background-color: rgba(101, 98, 98, 0.041);
  }
  
  .adding_form button {
    display: block;
    margin-left: 200px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background-color: grey;
  }
  
  @media only screen and (max-width: 500px) {
    .list_img {
      display: none;
    }
    .adding_form input {
        width: 100%;
      }
    
      #adding_form_desc {
        top: 0;
      }
      .adding_form label {
        display: block;
        width: 100%;
        text-align: center;
      }
      .adding_form button {
        margin: 0 auto;
      }
  }